batch2-24-06-2021 (2)/batch-20-06-2021/target/classes/batch-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7414d7bb-4529-4fa9-9165-2538f899986f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batch-pocFlow" doc:id="6073c7d8-da95-4db3-a5e8-07be08fe51e6" >
		<http:listener doc:name="Listener" doc:id="34f12189-f2af-49d2-b696-607ca5d0325d" config-ref="HTTP_Listener_config" path="/batchpoc"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;[&#10;  {&#10;    "uniqueId": "0001",&#10;    "parentId": "XXX",&#10;    "active": 1,&#10;    "title": "PepsiCo",&#10;    "connect": {&#10;      "accountId": [&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e7",&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e8",&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e9"&#10;      ]&#10;    },&#10;    "service": {&#10;      "accountId": [&#10;        "0013X00002v7g72QAA",&#10;        "0013X00002v7g72QAB"&#10;      ]&#10;    },&#10;    "sales": {&#10;      "accountId": [&#10;        "0010O00002CtU2IQAV"&#10;      ]&#10;    }&#10;  },&#10;  {&#10;    "uniqueId": "0002",&#10;    "parentId": "XXX",&#10;    "active": 1,&#10;    "title": "PepsiCo",&#10;    "connect": {&#10;      "accountId": [&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e7",&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e8",&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e9"&#10;      ]&#10;    },&#10;    "service": {&#10;      "accountId": [&#10;        "0013X00002v7g72QAC"&#10;      ]&#10;    },&#10;    "sales": {&#10;      "accountId": [&#10;        "0010O00002CtU2IQAV"&#10;      ]&#10;    }&#10;  }&#10;]]' doc:name="Set Payload" doc:id="a80f1e7d-04db-4f0b-8e8a-03ab22921592" />
		<ee:transform doc:name="Transform Message" doc:id="7dd94a6d-7449-45e5-b7ad-1586b1a394a8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
---
payload filter ($.sales.accountId != null)  map (sample) -> {
  "uniqueId": sample.uniqueId,
  "account": sample.sales.accountId  map (acc) -> {
    "accountId": acc
  } 
}  ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b2f183eb-1f81-4eae-aa65-286d7ed997c5" message="#[payload]"/>
		<batch:job jobName="batch-pocBatch_Job" doc:id="0ce06f1c-f8b6-447d-9c0b-bd27b8c1bb36" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="32d2a611-f454-40fb-b61b-893cbfe0fd02" acceptPolicy="ALL">
					<logger level="INFO" doc:name="Logger" doc:id="81dd3d18-99a2-4fc0-a7ad-b63c34d3c994" message="Payload : #[payload.uniqueId] #[payload.account.accountId]" />
					<set-variable value="#[{} as Object]" doc:name="Set Variable" doc:id="53aec7d6-4527-47a8-8604-7307a8b81587" variableName="output" />
					<set-variable value="#[payload.uniqueId]" doc:name="uniqueId" doc:id="9cda8c77-2b04-4945-a75e-c17c0a559284" variableName="uniqueId"/>
					<foreach doc:name="For Each" doc:id="6996d429-2fbc-439c-b19e-85895c90116f" collection="#[flatten (payload.account)]">
						<logger level="INFO" doc:name="Logger" doc:id="473b6310-1361-4fcb-8c97-8480eb006272" message="#[payload.accountId]"/>
						<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;&#10;{&#10;    "accountId": "0013X00002v7g72QAB",&#10;    "id": "960065557",&#10;    "summary": "GDPR",&#10;    "description": "GDPR",&#10;    "status": "Open",&#10;    "substatus": "string",&#10;    "priority": "P3",&#10;    "createdDate": "4/21/2021  9:28:00 PM",&#10;    "closedDate": "6/21/2021  9:28:00 PM",&#10;    "updatedDate": "7/21/2021  9:28:00 PM",&#10;    "product":&#10;	{&#10;      "id": "01t3X00000HhOlNQAV",&#10;      "name": "AVEVA Asset Information Management - Discovery"&#10;    },&#10;    "userId": "0033X00003khmtCQAQ",&#10;    "ownerId": "0043X00003khmtCQAQ",&#10;    "activityCount": "string"&#10;  }]' doc:name="Target Variable" doc:id="912708c1-0716-4101-9e4e-47df6236bd85" variableName="ticket" />
							<logger level="INFO" doc:name="Logger" doc:id="03dda1b6-4c3e-457c-a651-0cc9c0b7d8a4" message="#[vars.ticket]" />
							<ee:transform doc:name="Transform Message" doc:id="0c1156a7-96b3-4d53-9c31-4a227156d045">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "accountId": vars.uniqueId as String,
    "id": vars.ticket.id,
    "summary": vars.ticket.summary,
    "description": vars.ticket.description,
    "status": vars.ticket.status,
    "substatus":vars.ticket.substatus,
    "priority": vars.ticket.priority,
    "createdDate": vars.ticket.createdDate,
    "closedDate": vars.ticket.closedDate,
    "updatedDate": vars.ticket.updatedDate,
    "product-id": vars.ticket.product.id,
	"product-name": vars.ticket.product.name,
    "userId": vars.ticket.userId,
    "ownerId": vars.ticket.ownerId,
    "activityCount": vars.ticket.activityCount
  }]]></ee:set-payload>
						</ee:message>
					</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="b9e07c45-072c-47eb-9d5c-a4480fbd6191" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="output" ><![CDATA[%dw 2.0
output application/java
---
if (vars."output" == null) payload
else payload ++ vars."output" ]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						</foreach>
					<set-payload value='#[vars."output"]' doc:name="Set Payload" doc:id="dc2fe69e-85f4-47c9-99fe-6cf799b9b03b" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1f21df8e-dfdc-4224-a5d4-00e5dc328bd4" size="100">
						<ee:transform doc:name="Transform Message" doc:id="d843ed09-4233-42c8-b7a1-9fc1048346f2" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<file:write doc:name="Write" doc:id="c37c3205-9b67-416d-87fc-8d96879cc5d9" path="C:\Users\javed\Desktop\backup\file.csv" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
