batch2-24-06-2021 (2)/batch2/src/main/mule/batch-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="5b017673-e885-4f95-97a3-6588833bf22f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batch-pocFlow" doc:id="6073c7d8-da95-4db3-a5e8-07be08fe51e6" >
		<http:listener doc:name="Listener" doc:id="6673264d-b69d-4a3f-9b18-33fef6823344" config-ref="HTTP_Listener_config1" path="/batchapi"/>
		<!-- [STUDIO:"Set Payload"]<set-payload value='#[%dw 2.0&#10;output application/json&#10;&#45;&#45;-&#10;[&#10;  {&#10;    "uniqueId": "0001",&#10;    "parentId": "XXX",&#10;    "active": 1,&#10;    "title": "PepsiCo",&#10;    "connect": {&#10;      "accountId": [&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e7",&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e8",&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e9"&#10;      &#93;&#10;    },&#10;    "service": {&#10;      "accountId": [&#10;        "0013X00002v7g72QAA",&#10;        "0013X00002v7g72QAB"&#10;      &#93;&#10;    },&#10;    "sales": {&#10;      "accountId": [&#10;        "0010O00002CtU2IQAV"&#10;      &#93;&#10;    }&#10;  },&#10;  {&#10;    "uniqueId": "0002",&#10;    "parentId": "XXX",&#10;    "active": 1,&#10;    "title": "PepsiCo",&#10;    "connect": {&#10;      "accountId": [&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e7",&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e8",&#10;        "aa73e3b3-2156-48bd-9d20-59337105d1e9"&#10;      &#93;&#10;    },&#10;    "service": {&#10;      "accountId": [&#10;        "0013X00002v7g72QAC"&#10;      &#93;&#10;    },&#10;    "sales": {&#10;      "accountId": [&#10;        "0010O00002CtU2IQAV"&#10;      &#93;&#10;    }&#10;  }&#10;&#93;&#93;' doc:name="Set Payload" doc:id="a80f1e7d-04db-4f0b-8e8a-03ab22921592" /> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="7dd94a6d-7449-45e5-b7ad-1586b1a394a8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
---
payload filter ($.connect.accountId != null)  map (sample) -> {
  "uniqueId": sample.uniqueId,
  "account": sample.connect.accountId  map (acc) -> {
    "accountId": acc
  } 
}  ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b2f183eb-1f81-4eae-aa65-286d7ed997c5" message="#[payload]"/>
		<batch:job jobName="batch-pocBatch_Job" doc:id="0ce06f1c-f8b6-447d-9c0b-bd27b8c1bb36" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="32d2a611-f454-40fb-b61b-893cbfe0fd02">
					<logger level="INFO" doc:name="Logger" doc:id="81dd3d18-99a2-4fc0-a7ad-b63c34d3c994" message="Payload : #[payload.uniqueId] #[payload.account.accountId]" />
					<set-variable value="#[{} as Object]" doc:name="Set Variable" doc:id="53aec7d6-4527-47a8-8604-7307a8b81587" variableName="output" />
					<set-variable value="#[payload.uniqueId as String]" doc:name="uniqueId" doc:id="9cda8c77-2b04-4945-a75e-c17c0a559284" variableName="uniqueId"/>
					<try doc:name="Try" doc:id="1e995cad-a665-48f8-a630-9f3d7af58f52" >
						<foreach doc:name="For Each" doc:id="6996d429-2fbc-439c-b19e-85895c90116f" collection="#[flatten (payload.account)]">
						<logger level="INFO" doc:name="Logger" doc:id="473b6310-1361-4fcb-8c97-8480eb006272" message="#[payload.accountId]" />
						<ee:transform doc:name="Transform Message" doc:id="a8a3808f-b077-4b13-95ce-948ec5d1321f">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.accountId == 1)
dw::Runtime::fail("Invalid Account Id")
else
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;&#10;{&#10;    "accountId": "aa73e3b3-2156-48bd-9d20-59337105d1e7",&#10;    "techSupportId": "970045741",&#10;    "email": "nirmalkumar.as@se.com",&#10;    "firstName": "nirmalkumar",&#10;    "lastName": "as",&#10;    "middleName": "",&#10;    "name": "",&#10;    "createdDate": "2020-08-11T07:59:50.088Z",&#10;    "updatedDate": "2020-07-11T07:59:50.088Z"&#10;  }]' doc:name="Salesforce Target Variable" doc:id="912708c1-0716-4101-9e4e-47df6236bd85" variableName="salesforceResponse" />
							<logger level="INFO" doc:name="Logger" doc:id="03dda1b6-4c3e-457c-a651-0cc9c0b7d8a4" message="#[vars.uniqueId]" />
							<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;[&#10;  {&#10;    &quot;createdDate&quot;: &quot;2021-05-31T23:51:40.627&quot;,&#10;    &quot;updatedDate&quot;: &quot;2021-05-31T23:19:11&quot;,&#10;    &quot;id&quot;: &quot;360837&quot;,&#10;    &quot;title&quot;: &quot;Citect SCADA 2016 - What's New in Citect SCADA 2016&quot;,&#10;    &quot;status&quot;: &quot;Attended&quot;,&#10;    &quot;product&quot;: {&#10;      &quot;id&quot;: &quot;329847689&quot;,&#10;      &quot;name&quot;: &quot;Plant SCADA&quot;&#10;    },&#10;    &quot;user&quot;: {&#10;      &quot;id&quot;: &quot;76120&quot;,&#10;      &quot;techSupportId&quot;: &quot;7588757&quot;,&#10;      &quot;fullName&quot;: &quot;AS&quot;,&#10;      &quot;mail&quot;: &quot;nirmalkumar&quot;,&#10;      &quot;address&quot;: {&#10;        &quot;city&quot;: &quot;Chennai&quot;,&#10;        &quot;country&quot;: &quot;India&quot;&#10;      }&#10;    }&#10;  },&#10;  {&#10;    &quot;createdDate&quot;: &quot;2021-05-31T23:51:40.627&quot;,&#10;    &quot;updatedDate&quot;: &quot;2021-05-31T23:19:11&quot;,&#10;    &quot;id&quot;: &quot;360837&quot;,&#10;    &quot;title&quot;: &quot;Citect SCADA 2016 - What's New in Citect SCADA 2016&quot;,&#10;    &quot;status&quot;: &quot;Attended&quot;,&#10;    &quot;product&quot;: {&#10;      &quot;id&quot;: &quot;329847689&quot;,&#10;      &quot;name&quot;: &quot;Plant SCADA&quot;&#10;    },&#10;    &quot;user&quot;: {&#10;      &quot;id&quot;: &quot;76121&quot;,&#10;      &quot;techSupportId&quot;: &quot;970045741&quot;,&#10;      &quot;fullName&quot;: &quot; AS&quot;,&#10;      &quot;mail&quot;: &quot;nirmalkumar&quot;,&#10;      &quot;address&quot;: {&#10;        &quot;city&quot;: &quot;Chennai&quot;,&#10;        &quot;country&quot;: &quot;India&quot;&#10;      }&#10;    }&#10;  },&#10;  {&#10;    &quot;createdDate&quot;: &quot;2021-05-31T23:51:40.627&quot;,&#10;    &quot;updatedDate&quot;: &quot;2021-05-31T23:19:11&quot;,&#10;    &quot;id&quot;: &quot;360837&quot;,&#10;    &quot;title&quot;: &quot;Citect SCADA 2016 - What's New in Citect SCADA 2016&quot;,&#10;    &quot;status&quot;: &quot;Attended&quot;,&#10;    &quot;product&quot;: {&#10;      &quot;id&quot;: &quot;329847689&quot;,&#10;      &quot;name&quot;: &quot;Plant SCADA&quot;&#10;    },&#10;    &quot;user&quot;: {&#10;      &quot;id&quot;: &quot;76122&quot;,&#10;      &quot;techSupportId&quot;: &quot;970045743&quot;,&#10;      &quot;fullName&quot;: &quot; AS&quot;,&#10;      &quot;mail&quot;: &quot;nirmalkumar&quot;,&#10;      &quot;address&quot;: {&#10;        &quot;city&quot;: &quot;Chennai&quot;,&#10;        &quot;country&quot;: &quot;India&quot;&#10;      }&#10;    }&#10;  },&#10;  {&#10;    &quot;createdDate&quot;: &quot;2021-05-31T23:51:40.627&quot;,&#10;    &quot;updatedDate&quot;: &quot;2021-05-31T23:19:11&quot;,&#10;    &quot;id&quot;: &quot;360837&quot;,&#10;    &quot;title&quot;: &quot;Citect SCADA 2016 - What's New in Citect SCADA 2016&quot;,&#10;    &quot;status&quot;: &quot;Attended&quot;,&#10;    &quot;product&quot;: {&#10;      &quot;id&quot;: &quot;329847689&quot;,&#10;      &quot;name&quot;: &quot;Plant SCADA&quot;&#10;    },&#10;    &quot;user&quot;: {&#10;      &quot;id&quot;: &quot;76123&quot;,&#10;      &quot;techSupportId&quot;: &quot;970045744&quot;,&#10;      &quot;fullName&quot;: &quot;AS&quot;,&#10;      &quot;mail&quot;: &quot;nirmalkumar&quot;,&#10;      &quot;address&quot;: {&#10;        &quot;city&quot;: &quot;Chennai&quot;,&#10;        &quot;country&quot;: &quot;India&quot;&#10;      }&#10;    }&#10;  },&#10;  {&#10;    &quot;createdDate&quot;: &quot;2021-05-31T23:51:40.627&quot;,&#10;    &quot;updatedDate&quot;: &quot;2021-05-31T23:19:11&quot;,&#10;    &quot;id&quot;: &quot;360837&quot;,&#10;    &quot;title&quot;: &quot;Citect SCADA 2016 - What's New in Citect SCADA 2016&quot;,&#10;    &quot;status&quot;: &quot;Attended&quot;,&#10;    &quot;product&quot;: {&#10;      &quot;id&quot;: &quot;329847689&quot;,&#10;      &quot;name&quot;: &quot;Plant SCADA&quot;&#10;    },&#10;    &quot;user&quot;: {&#10;      &quot;id&quot;: &quot;76124&quot;,&#10;      &quot;techSupportId&quot;: &quot;970045745&quot;,&#10;      &quot;fullName&quot;: &quot;AS&quot;,&#10;      &quot;mail&quot;: &quot;nirmalkumar&quot;,&#10;      &quot;address&quot;: {&#10;        &quot;city&quot;: &quot;Chennai&quot;,&#10;        &quot;country&quot;: &quot;India&quot;&#10;      }&#10;    }&#10;  }&#10;]]" doc:name="Training Response" doc:id="e35e471a-5faf-49a2-9816-f10aebd19e8c" variableName="trainingResponse" />
						<ee:transform doc:name="Transform Message" doc:id="4cc34cbd-3f93-4cb9-9009-80c814289cf1">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.trainingResponse filter (($.user.techSupportId == vars.salesforceResponse.techSupportId) or ($.user.mail == vars.salesforceResponse.email) or ($.user.fullName contains vars.salesforceResponse.firstName ))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="db491255-29b6-4686-a5ca-5cb7e35d4f98" message="pay 1 #[payload]" />
						<ee:transform doc:name="Transform Message" doc:id="0c1156a7-96b3-4d53-9c31-4a227156d045">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "accountId": vars.uniqueId,
    "session-id": payload[0].id,
    "session-createdDate": payload[0].createdDate,
    "session-updatedDate": payload[0].updatedDate,
    "session-title": payload[0].title,
    "session-status": payload[0].status,
    "session-product-id": payload[0].product.id,
    "session-product-name": payload[0].product.name,
    "session-user-id": payload[0].user.id,
    "session-user-address-city": payload[0].user.address.city,
    "session-user-address-country": payload[0].user.address.country
  }]]></ee:set-payload>
						</ee:message>
					</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="b9e07c45-072c-47eb-9d5c-a4480fbd6191">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="output"><![CDATA[%dw 2.0
output application/java
---
if (vars."output" == null) payload
else payload ++ vars."output" ]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						</foreach>
						<error-handler >
							<!-- [STUDIO:"On Error Continue"]<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="967f3741-68fd-474c-beca-71cba0474ed0" type="ANY">
							</on-error-continue> [STUDIO] -->
							<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4be789db-245e-4694-a6a3-3c5c160c2f11" type="ANY">
								<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d09745be-be77-4e7e-bc38-009654f9c48b" />
							</on-error-propagate>
						</error-handler>
					</try>
					<set-payload value='#[vars."output"]' doc:name="Set Payload" doc:id="dc2fe69e-85f4-47c9-99fe-6cf799b9b03b" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1f21df8e-dfdc-4224-a5d4-00e5dc328bd4" streaming="true">
						<ee:transform doc:name="Transform Message" doc:id="d843ed09-4233-42c8-b7a1-9fc1048346f2" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<file:write doc:name="Write" doc:id="c37c3205-9b67-416d-87fc-8d96879cc5d9" path="/Users/mohammedjp/Downloads/employee.csv" />
					</batch:aggregator>
				</batch:step>
				<batch:step name="Failureprocessing" doc:id="f83708c1-4644-4284-bbd3-84b329ea1709" acceptPolicy="ONLY_FAILURES">
					<ee:transform doc:name="Transform Message" doc:id="115254e9-f2c8-43f3-afe1-852d60d5fd58" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="errorRec" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="1da7d486-d4d3-49bc-bf0b-cb44a3af96bd" message="#[%dw 2.0&#10;output application/json&#10;---&#10;vars.errorRec]"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="6c8cb50c-eccb-47db-8019-50ee1270c754" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="3cebfd9b-7aaa-40bf-adab-a213fda32a34" message="#[%dw 2.0&#10;output application/json&#10;---&#10;vars.records.variables.errorRec]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
